<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_C</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_D</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_E</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_G</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_I</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_J</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_L</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_N</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_R</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_S</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_T</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_U</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Y</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Z</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_a</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_c</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_d</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_e</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_g</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_i</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_j</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_k</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_l</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_n</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_o</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_s</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_t</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_u</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_y</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_z</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_C</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_D</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_E</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_G</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_I</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_J</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_L</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_N</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_R</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_S</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_T</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_U</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Y</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Z</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_a</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_c</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_d</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_e</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_g</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_i</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_j</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_k</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_l</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_n</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_o</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_r</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_s</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_t</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_u</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_y</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_z</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>P</string>
		<string>W</string>
		<string>E</string>
		<string>M</string>
		<string>L</string>
		<string>R</string>
		<string>A</string>
		<string>N</string>
		<string>I</string>
		<string>ampersand</string>
		<string>D</string>
		<string>V</string>
		<string>H</string>
		<string>S</string>
		<string>G</string>
		<string>F</string>
		<string>Y</string>
		<string>B</string>
		<string>U</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>J</string>
		<string>K</string>
		<string>Q</string>
		<string>X</string>
		<string>Z</string>
		<string>AE</string>
		<string>OE</string>
		<string>sterling</string>
		<string>o</string>
		<string>i</string>
		<string>C</string>
		<string>n</string>
		<string>r</string>
		<string>h</string>
		<string>u</string>
		<string>m</string>
		<string>c</string>
		<string>e</string>
		<string>p</string>
		<string>w</string>
		<string>v</string>
		<string>z</string>
		<string>s</string>
		<string>d</string>
		<string>b</string>
		<string>k</string>
		<string>g</string>
		<string>q</string>
		<string>t</string>
		<string>f</string>
		<string>x</string>
		<string>y</string>
		<string>l</string>
		<string>a</string>
		<string>j</string>
		<string>period</string>
		<string>oslash</string>
		<string>slash</string>
		<string>Oslash</string>
		<string>dollar</string>
		<string>colon</string>
		<string>exclam</string>
		<string>acute</string>
		<string>grave</string>
		<string>eacute</string>
		<string>tilde</string>
		<string>cedilla</string>
		<string>Ccedilla</string>
		<string>circumflex</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>paragraph</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>dieresis</string>
		<string>Adieresis</string>
		<string>adieresis</string>
		<string>ccedilla</string>
		<string>asterisk</string>
		<string>ring</string>
		<string>Aring</string>
		<string>aring</string>
		<string>yen</string>
		<string>cent</string>
		<string>germandbls</string>
		<string>registered</string>
		<string>copyright</string>
		<string>oe</string>
		<string>Thorn</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>eth</string>
		<string>fi</string>
		<string>fl</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>agrave</string>
		<string>Odieresis</string>
		<string>Otilde</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ntilde</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Edieresis</string>
		<string>Ecircumflex</string>
		<string>Eacute</string>
		<string>Egrave</string>
		<string>aacute</string>
		<string>Eth</string>
		<string>ae</string>
		<string>plus</string>
		<string>multiply</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>scaron</string>
		<string>caron</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>ogonek</string>
		<string>currency</string>
		<string>mu</string>
		<string>percent</string>
		<string>fraction</string>
		<string>Scaron</string>
		<string>breve</string>
		<string>Ccircumflex</string>
		<string>Nacute</string>
		<string>Ldotaccent</string>
		<string>Jcircumflex</string>
		<string>iogonek</string>
		<string>Iogonek</string>
		<string>IJ</string>
		<string>Itilde</string>
		<string>ccircumflex</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0326</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>jcircumflex</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>nacute</string>
		<string>itilde</string>
		<string>hbar</string>
		<string>ij</string>
		<string>commaaccent</string>
		<string>dotlessj</string>
		<string>hungarumlaut</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>dotaccent</string>
		<string>periodcentered</string>
		<string>ldot</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>uni00AD</string>
		<string>hyphen</string>
		<string>macron</string>
		<string>dotaccentcmb</string>
		<string>trademark</string>
		<string>Euro</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>thorn</string>
		<string>O</string>
		<string>T</string>
		<string>Dz</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>question</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>at</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>asciicircum</string>
		<string>less</string>
		<string>greater</string>
		<string>equal</string>
		<string>bullet</string>
		<string>section</string>
		<string>backslash</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>numbersign</string>
		<string>divide</string>
		<string>logicalnot</string>
		<string>asciitilde</string>
		<string>ffi</string>
		<string>ffl</string>
		<string>ff</string>
		<string>.null</string>
		<string>nbspace</string>
		<string>foundryicon</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0003</string>
		<string>uni0004</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0009</string>
		<string>uni0010</string>
		<string>uni0011</string>
		<string>uni0012</string>
		<string>uni0013</string>
		<string>uni0014</string>
		<string>Hbar</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcroat</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Dzcaron</string>
		<string>dzcaron</string>
		<string>LJ</string>
		<string>dcroat</string>
		<string>Lj</string>
		<string>lj</string>
		<string>NJ</string>
		<string>Nj</string>
		<string>nj</string>
		<string>dz</string>
		<string>Gacute</string>
		<string>uni0200</string>
		<string>gacute</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Ncaron</string>
		<string>Tcaron</string>
		<string>Uring</string>
		<string>ecaron</string>
		<string>ncaron</string>
		<string>uring</string>
		<string>tcommaaccent</string>
		<string>tcaron</string>
		<string>dcaron</string>
		<string>Ydieresis</string>
		<string>uni0201</string>
		<string>Einvertedbreve</string>
		<string>uni0202</string>
		<string>Iinvertedbreve</string>
		<string>einvertedbreve</string>
		<string>ainvertedbreve</string>
		<string>Edoublegrave</string>
		<string>uni0208</string>
		<string>uni0205</string>
		<string>uni0209</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Idotaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>Uhungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>racute</string>
		<string>uhungarumlaut</string>
		<string>Ohungarumlaut</string>
		<string>uni020C</string>
		<string>uni0210</string>
		<string>uni0211</string>
		<string>uni0212</string>
		<string>uni0213</string>
		<string>uni0214</string>
		<string>uni0215</string>
		<string>uni0216</string>
		<string>uni0217</string>
		<string>uni020B</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>uni020E</string>
	</array>
</dict>
</plist>
